@import "tailwindcss";

@theme
{
 --bg-color: #FAF0E6;
 --p-font:"Inter", sans-serif;
 --p-font-color:#5C4038;
 --p-h-color:#1F1B15;
 --p-buttons-color:#A93200;
 --p-h1-font:"ital";

}


@layer base
 {
    body
    {
        background-color: var(--bg-color);
        font-family:var(--p-font);
        color:var(--p-font-color);
 
        
    }
    h1, h2, h3, h4, h5, h6 
    {
       color: var(--p-h-color);

    }
    h1
    {
      font-family:var(--p-h1-font);
    }
 }
 @utility row
 {
    @apply flex items-center;
 }



@utility categorie
{
  @apply  bg-[#F0E7DD] hoverstyle py-[12px] px-[24px] rounded-[99999px] max-sm:py-[6px] max-sm:px-[3px] max-sm:gap-[3px] max-sm:text-center ;
}
@utility popularproduct
{
  @apply bg-white hover:bg-[#CDE3EE] transition-all duration-500 flex flex-col gap-1 px-[20px] py-[20px] rounded-b-[12px];
}
@utility recommend
{
  @apply hoverstyle rounded-[16px] hover:p-[16px];
}
@utility footer-hover-text
{
  @apply   group-hover:text-red-500 transition-all duration-[5.s] ;
}

@utility hover-text
{
  @apply   group-hover:text-white transition-all duration-[5.s] ;
}


@utility imgstyle
{
  @apply rounded-[12px] hover:outline hover:outline-2 hover:outline-[#A93200] transition-all duration-500 overflow-scroll ;
}

@utility size-choosen
{
 @apply flex flex-col gap-[4px] items-center border border-[#A93200] bg-[#ffdbd00b] rounded-[12px] px-[34px] py-[16px] max-sm:p-[8px] hoverstyle ;
}

@utility milk-choosen
{
  @apply bg-[#EBE1D7] hoverstyle px-[24px] py-[8px] max-sm:p-[8px]  rounded-[9999px] text-center ;
}

@utility caffeine
{
  @apply bg-[#F6ECE2] border border-[#F6ECE2] rounded-[16px] p-[16px]  hoverstyle;
}

@utility mtopping
{
  @apply bg-[#F6ECE2] p-[16px] rounded-[16px] accent-[#A93200] ;
}

@utility pickup-time
{
  @apply bg-[#FCF2E8] border border-[#E5BEB2] p-[24px] rounded-[8px] hover:bg-[#CDE3EE] hover:border-[#A93200] ;
}

@utility payment
{
  @apply border border-dashed row gap-4 rounded-[12px] p-[24px] hoverstyle;
}

@utility hoverstyle
{
  @apply hover:outline-[#A93200] hover:outline hover:bg-[#CDE3EE] transition-all duration-500;

}

@utility buttonsyleone
{
  @apply border border-[#A93200] text-[#A93200] p-[16px] rounded-[9999px];
}


@utility buttonsyletwo
{
  @apply  bg-[#A93200] text-white p-[16px] rounded-[12px];
}


@utility inputstyle
{
  @apply border border-[#e5beb281] bg-[#FCF2E8] capitalize px-[16px] py-[13px] rounded-[8px];
}